.registration{
    display: flex;
    text-align: center;
    height: 792px;
    font-family: 'Gloock', serif;

}

.background{
    width: 100%;
}


.mainlogo{
  width: 250px;
  height: 100px;  
}

.form{
  margin-top: 20px;
  margin: auto;
  width: 50%;
  
}



  
  .errorMsg {
    max-width: 350px;
    color: #f21e08;
    padding: 2px 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 300;
  }
  
  .success-msg {
    color: #7ca936;
  }
  
  .form-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .form-control label {
    text-align: left;
    width: 30%;
    left: 0px;
    margin-bottom: 5px;
    color: white;
  }
  
  .form-control input[type="text"],
  .form-control input[type="password"] {
    width: auto;
    padding: 12px 20px;
    border: 2px solid rgba(153, 0, 132, 1);
  border-radius: 4px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgba(153, 0, 132, 1);
    font-size: larger;
  }
  
  button {
    top: 30px;
    right: 40px;
    background-color: rgba(153, 0, 132, 1);
    border: 2px solid #ffffff;
    color: white;
    padding: 10px 24px;
    border-radius: 12px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    font-size: 16px;
  }

  button:hover{
    background-color: black;

  }
  
