.first-div{
    height: 786px;
}
.dark-bg{
    text-align: center;
    width: 100%;
}

.dark-bg h1{
    margin-top: 300px;
    font-size: 4rem;
    font-weight: 900;
    color: white;
}
.dark-bg h3{
    font-size: 2rem;
    color: white;
}

.get-start{
    background-color: rgba(153, 0, 132, 1);
    border: 2px solid #ffffff;
    color: white;
    padding: 15px 29px;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.get-start:hover{
    background-color: black;
}