.first-div {
    height: 786px;
    text-align: center;
    font-family: 'Gloock', serif;
    
    background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,1) 7%, rgba(115,0,99,1) 100%);
justify-content: center;
align-items: center;
}


img {
    width: 400px;
    height: 200px;
}

.first-div h1 {
    font-size: 4rem;
    color: white;
}

.first-div h3 {
    font-size: 2rem;
    color: white;
}

.get-start {
    background-color: rgba(153, 0, 132, 1);
    border: 2px solid #ffffff;
    color: white;
    padding: 15px 29px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    margin-left: 10px;
}

.get-start:hover {
    background-color: black;
}


