.head{
    display: flex;
    height: 150px;
}
.logodiv{
    width: 25%;
}
.logo{
    width: 150px;
    height: 90px;
    margin-top: 10px;
    margin-left: 20px;
}

.nav{
    width: 50%;
    display: flex;
    
    margin: auto;
}


svg{
    margin-top: 20%;
}
h5{
    margin-top: 10px;
}