.head{
    display: flex;
    height: 100px;
    width: 75%;
    background-color: rgba(195, 108, 189, 0.725);
    margin: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.logodiv{
    width: 25%;
    left:20px;
    text-align: center;
}
.logo{
    width: 200px;
    height: 200px;
    margin: auto;
}


