.footer{
    height: 200px;
    display: flex;
    background-color: rgba(57, 57, 57, 0);
    text-align: center;
    border-color: black;
    border-top: 10px;
}


.mainlogo{
    width: 150px;
    height: 100px;  
    margin-top: 50px;
}

.rights{
    margin: auto;
    left: 50px;
}