.slider-container {
    display: flex;
    overflow: hidden;
    height: 500px;
  }

  .slider-slide {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-slide.active {
    transform: translateX(0);
  }
  
  .slider-slide.inactive {
    transform: translateX(100%);
  }
  
  .slide-img{
    margin-top: 10px;
    text-align: center;
  }

  .banner{
    display: flex;
    height: 500px;
    background-image: url('../../../public/BannerBackgroung.png');
    background-size: cover;
    margin-top: 20px;
  }

  .title{
    width: 50%;
    margin-left: 10px;
    font-family: 'Gloock', serif;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);

  }

  .title h1{
    font-size: 4rem;
    
  }

.slider{
  width: 50%;
}

